body {
    background-color: #333;
}





/* Navigation styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #708090;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
